@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
*{
    box-sizing: border-box;
}
header {
    background-color: #000000; 
    z-index: 1000;
}
.navbar-nav {
    display: flex;
    justify-content: center; 
    width: 100%; 
}

/* Cambia el color de los enlaces del header y aumenta su tamaño */
.navbar-nav .nav-link {
    color: #ffffff; /* Blanco para los enlaces */
    font-size: 1.25rem; /* Aumenta el tamaño del texto */
    padding: 10px 15px; /* Añade espacio alrededor del texto */
    text-align: center; /* Centra el texto dentro de cada opción */
}

/* Estilo para hover */
.navbar-nav .nav-link:hover {
    color: #3bf816; /* Un color resaltado en hover */
    background-color: rgba(255, 255, 255, 0.1); /* Añade un fondo sutil al pasar el mouse */
}
body{
    color: rgb(255, 255, 255);
}

.protest-strike-regular {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

#presentation{
    background: url(/assets/re2r.jpg) no-repeat;
    background-position:  center;
    background-size: cover;
    height: 100vh;
}

#presentation p{
   width: 40rem;
}

#presentation a{
    width: 10rem;
    border-radius: 0;
    background-color: #70e000;
    border: none;
    color: black;
    font-weight: bold;
}
.bloquesito{
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    background-color: #70e000;
    width: 80px;
    height: 20px;
}